.navbar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
    width: 100%;
    overflow: hidden;
    background-image: url('https://media0.giphy.com/media/biKlWmM7HiofjR9Vwb/giphy.gif?cid=6c09b9522ynz4alho9u5egupvq9azppu4n93oa4dko0ljfrd&ep=v1_stickers_related&rid=giphy.gif&ct=s'); /* Replace with the path to your GIF */
    background-size: contain;
    background-position: center;
    opacity: 1; /* Adjust opacity as needed */
  }

  .navbar a {
    text-decoration: none;
    color: black;
  }

  .navbar-img {
    height: 90px;
    width: auto;
    border-radius: 15px;
  }

  .navbar-img:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
  
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

  .menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .menu {
    column-gap: 50px;
    margin-bottom: 25px;
  }

  .menu h3 {
    font-weight: bolder;
    font-size: 48px;
  }
